.error-message {
    margin-top: 1em;
    color: red;
}

.none-style {
    background-color: white;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;  
}

.date-header {
    margin: 1em;
    font-weight: bold;
}