{
    "apiKey": "your_api_key",
    "authDomain": "breaking-bad-b34cc.firebaseapp.com",
    "databaseURL": "https://breaking-bad-b34cc.firebaseio.com",
    "projectId": "breaking-bad-b34cc",
    "storageBucket": "breaking-bad-b34cc.appspot.com",
    "messagingSenderId": "614753134089"
}
